.carouselContainer {
    width: 100%;
    height: 25vh; /* 1/4 del contenuto principale */
    position: relative;
  }
  
  .slide {
    position: relative;
    height: 100%;
  }
  
  .slick-slide img {
    width: 100%;
    height: auto;
  }
  
  .slick-dots {
    bottom: 10px; /* Posizione dei puntini */
  }
  